auction.minV 1
auction.maxV 2
auction.efficiency 0.2

InnerLoop.Gridsize 50
InnerLoop.PatternSearch.Size 9
InnerLoop.PatternSearch.Stepsize 0.1
InnerLoop.PatternSearch.nSteps 8
InnerLoop.MCsamples 2000

OuterLoop.Gridsize 100
OuterLoop.PatternSearch.Size 9
OuterLoop.PatternSearch.Stepsize 0.1
OuterLoop.PatternSearch.nSteps 8
OuterLoop.MCsamples 5000

VerificationStep.Gridsize 200
VerificationStep.PatternSearch.Size 9
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps 12
VerificationStep.MCsamples 2000

maxiters 50
epsilon 0.001