InnerLoop.Gridsize 50
InnerLoop.PatternSearch.Size 3
InnerLoop.PatternSearch.Stepsize 0.1
InnerLoop.PatternSearch.nSteps 5
InnerLoop.MCsamples 50000

OuterLoop.Gridsize 100
OuterLoop.PatternSearch.Size 3
OuterLoop.PatternSearch.Stepsize 0.1
OuterLoop.PatternSearch.nSteps 5
OuterLoop.MCsamples 100000

VerificationStep.Gridsize 200
VerificationStep.PatternSearch.Size 9
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps 12
VerificationStep.MCsamples 10000

maxiters 20
epsilon 0.005
