InnerLoop.Gridsize 50
InnerLoop.PatternSearch.Size 3
InnerLoop.PatternSearch.Stepsize 0.1
InnerLoop.PatternSearch.nSteps 7
InnerLoop.MCsamples 500

OuterLoop.Gridsize 200
OuterLoop.PatternSearch.Size 3
OuterLoop.PatternSearch.Stepsize 0.1
OuterLoop.PatternSearch.nSteps 8
OuterLoop.MCsamples 2000

VerificationStep.Gridsize 200
VerificationStep.PatternSearch.Size 9
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps 12
VerificationStep.MCsamples 10000

maxiters 20
epsilon 0.0005
