auction.minV 1
auction.maxV 2
auction.efficiency 0.1

InnerLoop.Gridsize 50
InnerLoop.PatternSearch.Size 9
InnerLoop.PatternSearch.Stepsize 0.05
InnerLoop.PatternSearch.nSteps 6
InnerLoop.MCsamples 60000

OuterLoop.Gridsize 100
OuterLoop.PatternSearch.Size 9
OuterLoop.PatternSearch.Stepsize 0.05
OuterLoop.PatternSearch.nSteps 6
OuterLoop.MCsamples 100000

VerificationStep.Gridsize 200
VerificationStep.PatternSearch.Size 9
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps 12
VerificationStep.MCsamples 2000

maxiters 100
epsilon 0.005